<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">

    <form class="form-signin" action="/laptop-shop" method="POST" th:object="${account}">
        <p>
            <label for="fullname" >Name & Surname</label>
            <input type="text" id="fullname" th:field="*{name_surname}" class="form-control" placeholder="Logan Hermes" required autofocus>
        </p>

        <p>
            <label for="user_name" >Username</label>
            <input type="text" th:field="*{username}" id="user_name" placeholder="flamingokiller007" class="form-control" required>
        </p>

     <p>
         <label for="passwordd" >Password</label>
         <input type="password" th:field="*{password}" id="passwordd" placeholder="ilikejojos"  class="form-control" required>
     </p>

      <p>
          <label for="emaill" >Email Address</label>
          <input type="email" th:field="*{gmail}" id="emaill" placeholder="joseph.joestar@gmail.com" class="form-control" required>
      </p>

       <p>
           <label for="phonenumber" >Phone Number</label>
           <input type="tel" id="phonenumber" th:field="*{phone_number}" placeholder="0**-***-**-**" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
       </p>




        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account">
        <a href="/laptop-shop" class="btn btn-lg btn-warning btn-block">Home Page</a>
    </form>
</div>

</body>
</html>